html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #43a047; }

.form {
  background-color: #eceff1;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 6px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px; }

.left-col {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 10px 20px; }

.rigth-col {
  display: inline-block;
  text-align: left;
  width: 50%;
  padding: 10px 20px 10px 0px; }

@media screen and (max-width: 600px) {
  .left-col {
    width: 80%;
    text-align: left; }
  .rigth-col {
    width: 80%;
    margin-left: 30px; }
  .impro {
    min-width: 100%; } }

h1 {
  text-align: center;
  color: #fff;
  margin-top: 10px; }

.description {
  text-align: center; }

.input-field {
  border: none;
  background: transparent;
  border-bottom: 1px solid #43a047; }

.dropdown {
  border: none;
  border-radius: 3px;
  cursor: pointer; }
  .dropdown option:first-child {
    color: rgba(0, 0, 0, 0.45); }

.gender {
  vertical-align: top;
  margin: 0; }

.impro {
  vertical-align: top;
  margin: 0; }

input[type="radio"] {
  margin: 0 5px 0 5px; }

.chec {
  line-height: 1.8; }

.comment {
  resize: none; }

.submit {
  display: block;
  font-weight: 500;
  border: none;
  padding: 1rem 1rem;
  margin: 30px auto;
  min-width: 30%;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #43a047;
  text-transform: uppercase;
  transition-duration: 0.3s; }
  .submit:hover {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
    opacity: 0.85; }
