h1 {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.form {
  background-color: #eceff1;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 6px;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 600px;
}

.description {
  text-align: center;
}

.left-col {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 10px 20px;
}

.rigth-col {
  display: inline-block;
  text-align: left;
  width: 50%;
  padding: 10px 20px;
}

.checks {
  display: flex;
  align-items: baseline;
}

.input-field {
  border: none;
  background: transparent;
  border-bottom: 2px solid #43a047;
}

.dropdown {
  border: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.45);
}

.chec {
  line-height: 1.8;
}

.comment {
  resize: none;
}

.submit {
  display: block;
  font-weight: 500;
  border: none;
  padding: 1rem 1rem;
  margin: 30px auto;
  width: 30%;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #43a047;
  text-transform: uppercase;
  transition-duration: 0.3s;

  &:hover {
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.25);
    opacity: 0.85;
  }
}
